# Install requerements

In [3]:
pip install tabula-py[jpype]

Collecting tabula-py[jpype]
  Downloading tabula_py-2.9.3-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py[jpype]) (2.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py[jpype]) (1.26.4)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py[jpype]) (1.7.0)
Collecting jpype1 (from tabula-py[jpype])
  Downloading JPype1-1.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py[jpype]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py[jpype]) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py[jpype]) (2024.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from jpype1->tabula-py[jpype]) (24.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py[jpype]) (1.16.0)
Downloading JPype1-1.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (488 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 488.6/488.6 kB 21.0 MB/s eta 0:00:00
Downloading tabula_py-2.9.3-py3-none-any.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 54.4 MB/s eta 0:00:00
Installing collected packages: jpype1, tabula-py
Successfully installed jpype1-1.5.0 tabula-py-2.9.3

In [4]:
import requests
from tabula import read_pdf
import pandas as pd

# Download the PDF

In [85]:
pdf_path = "pdf_file"

view images

In [80]:
!pip install pdf2image
!apt-get install poppler-utils

Requirement already satisfied: pdf2image in /usr/local/lib/python3.10/dist-packages (1.17.0)
ERROR: Could not find a version that satisfies the requirement poppler (from versions: none)
ERROR: No matching distribution found for poppler

In [83]:
from pdf2image import convert_from_path

pages = convert_from_path(pdf_path)
for page in pages:
    page.save("page_image.jpg")

In [180]:
from pdf2image import convert_from_path
import numpy as np

images_of_pdf = convert_from_path(pdf_path, dpi=200)  # Convert PDF to List of PIL Images
for i,page in enumerate(pages):
    page.save("page_image_"+str(i)+".jpg")
readable_images_of_pdf = []  # Create a list for thr for loop to put the images into
for PIL_Image in images_of_pdf:
    readable_images_of_pdf.append(np.array(PIL_Image))  # Add items to list

In [181]:
import cv2
import numpy as np
from pdf2image import convert_from_path

image_of_pdf = np.concatenate(tuple(convert_from_path(pdf_path)), axis=0)

let's load the images to have a preview of the modifications we will do for tabula

In [182]:
from google.colab.patches import cv2_imshow
import cv2

#reload the img 
img = cv2.imread("/content/page_image_2.jpg", cv2.IMREAD_UNCHANGED)

#resize the img to the original values of the pdf. To get them open it with any pdf reader and get those info or look in the file properties. Values are in pts.
img = cv2.resize(img, (int(595.28), int(841.88)), interpolation=cv2.INTER_LINEAR)

#cv2_imshow(img)
# Get the dimensions of the image
height, width, channels = img.shape

print(f"Width: {width}, Height: {height}, Channels: {channels}")

Width: 595, Height: 841, Channels: 3

In [ ]:
# Define the x points for vertical lines
x_points = [80, 150, 435, 475, 507, 555]  # Example x points

# Define the area to color (top, left, bottom, right)
area = [59.9,42.042,790.606,556.959]
area_p1 = [262.295,42.042,789.118,552.494]

area_preview = area #area_p1

#reset the image every time
img = cv2.imread("/content/page_image_0.jpg", cv2.IMREAD_UNCHANGED)
img = cv2.resize(img, (int(595.28), int(841.88)), interpolation=cv2.INTER_LINEAR)

overlay = np.ones((img.shape[0], img.shape[1], 4), dtype='uint8')

# Convert the original image to BGRA (with alpha channel)
img_bgra = cv2.cvtColor(img, cv2.COLOR_BGR2BGRA)

# Color the defined area
cv2.rectangle(overlay, (int(area_preview[1]), int(area_preview[0])), (int(area_preview[3]), int(area_preview[2])), (255, 0, 0, 125), -1)  # Blue filled rectangle

# Draw vertical lines
for x in x_points:
    cv2.line(overlay, (x, 0), (x, img.shape[0]), (0, 255, 0,255), 2)  # Green vertical lines

# Blend the overlay with the original image
combined = cv2.addWeighted(img_bgra, 0.9, overlay, 0.2, 0)

# Display the image
cv2_imshow(combined)

# Extract tables

In [231]:
pandas_options = {
    'header': None,
    'columns' : ["DATA", "TIPO", "DESCRIZIONE", "IN ENTRATA","IN USCITA", "SALDO"]
}

In [265]:
with open(pdf_path, 'rb') as file:
        # extract table from pages
        dfs = read_pdf(
            file,
            pages="2-5", # pages to extract table from
            area=area,
            columns=x_points,
            #lattice=True,
            pandas_options=pandas_options,
            stream=True,
        )

        # extract table in page 4
        dfs_1 = read_pdf(
              file,
              pages=1,
              area=area_p1,
              columns=x_points,
              pandas_options=pandas_options,
              stream = True,
        )

dfs[0]
#dfs_1[0]

,DATA,TIPO,DESCRIZIONE,IN ENTRATA,IN USCITA,SALDO
0,26 mag,Transazione con,NaN,NaN,NaN,NaN
1,NaN,NaN,ASPIT DIREZ. USCITA -,NaN,"1,80 €","4.249,23 €"
2,2024,carta,NaN,NaN,NaN,NaN
3,26 mag,Transazione con,NaN,NaN,NaN,NaN
4,NaN,NaN,IL PINZIMONIO,NaN,"9,58 €","4.239,65 €"
5,2024,carta,NaN,NaN,NaN,NaN
6,28 mag,Transazione con,NaN,NaN,NaN,NaN
7,NaN,NaN,AERLING 22IJ32 VANDON,NaN,"421,87 €","3.817,78 €"
8,2024,carta,NaN,NaN,NaN,NaN
9,30 mag,Transazione con,NaN,NaN,NaN,NaN
10,NaN,NaN,SUMUP *A&A S.R.L.S,NaN,"30,00 €","3.787,78 €"
11,2024,carta,NaN,NaN,NaN,NaN
12,30 mag,Transazione con,NaN,NaN,NaN,NaN
13,NaN,NaN,QUERCIA GIOIELLI,NaN,"100,00 €","3.687,78 €"
14,2024,carta,NaN,NaN,NaN,NaN
15,30 mag,Transazione con,NaN,NaN,NaN,NaN
16,NaN,NaN,AUTOSILO SEMPIONE,NaN,"1,50 €","3.686,28 €"
17,2024,carta,NaN,NaN,NaN,NaN
18,31 mag,Transazione con,NaN,NaN,NaN,NaN
19,NaN,NaN,SISTEMA CONGRESSI SRL,NaN,"300,00 €","3.386,28 €"
20,2024,carta,NaN,NaN,NaN,NaN
21,01 giu,Pagamento degli,NaN,NaN,NaN,NaN
22,NaN,NaN,Your interest payment,"16,51 €",NaN,"3.402,79 €"
23,2024,interessi,NaN,NaN,NaN,NaN
24,02 giu,Transazione con,NaN,NaN,NaN,NaN
25,NaN,NaN,FARMACIA EUROPA S.R.L.,NaN,"16,55 €","3.386,24 €"
26,2024,carta,NaN,NaN,NaN,NaN
27,03 giu,NaN,NaN,NaN,NaN,NaN
28,NaN,Premio,Your Saveback payment,"15,00 €",NaN,"3.401,24 €"
29,2024,NaN,NaN,NaN,NaN,NaN
30,04 giu,Transazione con,NaN,NaN,NaN,NaN
31,NaN,NaN,ESSO ISELLA RUSSO,NaN,"20,00 €","3.381,24 €"
32,2024,carta,NaN,NaN,NaN,NaN
33,04 giu,Transazione con,NaN,NaN,NaN,NaN
34,NaN,NaN,TRENORD SRL,NaN,"116,00 €","3.265,24 €"
35,2024,carta,NaN,NaN,NaN,NaN
36,04 giu,NaN,Esecuzione Trade Acquisto diretto Acquisto IE0...,NaN,NaN,NaN
37,NaN,Commercio,NaN,NaN,"15,00 €","3.250,24 €"
38,2024,NaN,2598471420240604 KW,NaN,NaN,NaN
39,06 giu,Transazione con,NaN,NaN,NaN,NaN
40,NaN,NaN,AU VIEUX STRASBOURG,NaN,"15,50 €","3.234,74 €"
41,2024,carta,NaN,NaN,NaN,NaN
42,08 giu,Transazione con,NaN,NaN,NaN,NaN
43,NaN,NaN,SUSHI HIRO SAS DI XIANG,NaN,"63,80 €","3.170,94 €"
44,2024,carta,NaN,NaN,NaN,NaN
45,10 giu,Transazione con,NaN,NaN,NaN,NaN
46,NaN,NaN,TIGROS 2,NaN,"86,56 €","3.084,38 €"
47,2024,carta,NaN,NaN,NaN,NaN

In [266]:
dfs.extend(dfs_1)

# concat all dfs to get one table
data = pd.concat(
    dfs,
    axis=0,
    ignore_index=True
)
data

,DATA,TIPO,DESCRIZIONE,IN ENTRATA,IN USCITA,SALDO
0,26 mag,Transazione con,NaN,NaN,NaN,NaN
1,NaN,NaN,ASPIT DIREZ. USCITA -,NaN,"1,80 €","4.249,23 €"
2,2024,carta,NaN,NaN,NaN,NaN
3,26 mag,Transazione con,NaN,NaN,NaN,NaN
4,NaN,NaN,IL PINZIMONIO,NaN,"9,58 €","4.239,65 €"
...,...,...,...,...,...,...
167,NaN,NaN,TIGROS 17,NaN,"5,31 €","4.810,01 €"
168,2024,carta,NaN,NaN,NaN,NaN
169,25 mag,Transazione con,NaN,NaN,NaN,NaN
170,NaN,NaN,KEYNOTE CONFERENCE SER,NaN,"485,00 €","4.325,01 €"
171,2024,carta,NaN,NaN,NaN,NaN

In [267]:
# Drop rows if they contain all column names
try:
  data = data.drop(data[data.apply(lambda row: all(item in row.values for item in pandas_options['columns']), axis=1)].index)
  # Reset the index
  data = data.reset_index(drop=True)
except KeyError:
  print("everything ok")
data

,DATA,TIPO,DESCRIZIONE,IN ENTRATA,IN USCITA,SALDO
0,26 mag,Transazione con,NaN,NaN,NaN,NaN
1,NaN,NaN,ASPIT DIREZ. USCITA -,NaN,"1,80 €","4.249,23 €"
2,2024,carta,NaN,NaN,NaN,NaN
3,26 mag,Transazione con,NaN,NaN,NaN,NaN
4,NaN,NaN,IL PINZIMONIO,NaN,"9,58 €","4.239,65 €"
...,...,...,...,...,...,...
166,NaN,NaN,TIGROS 17,NaN,"5,31 €","4.810,01 €"
167,2024,carta,NaN,NaN,NaN,NaN
168,25 mag,Transazione con,NaN,NaN,NaN,NaN
169,NaN,NaN,KEYNOTE CONFERENCE SER,NaN,"485,00 €","4.325,01 €"
170,2024,carta,NaN,NaN,NaN,NaN

In [268]:
# Group the DataFrame by every 3 rows as tabula didn't recognize multiline text in the cells. U should inspect this by urself
grouped = data.groupby(data.index // 3)

# Aggregate the text within each group
result = grouped.agg(lambda x: ''.join(x.fillna('')))

# Reset the index
result = result.reset_index(drop=True)

result

,DATA,TIPO,DESCRIZIONE,IN ENTRATA,IN USCITA,SALDO
0,26 mag2024,Transazione concarta,ASPIT DIREZ. USCITA -,,"1,80 €","4.249,23 €"
1,26 mag2024,Transazione concarta,IL PINZIMONIO,,"9,58 €","4.239,65 €"
2,28 mag2024,Transazione concarta,AERLING 22IJ32 VANDON,,"421,87 €","3.817,78 €"
3,30 mag2024,Transazione concarta,SUMUP *A&A S.R.L.S,,"30,00 €","3.787,78 €"
4,30 mag2024,Transazione concarta,QUERCIA GIOIELLI,,"100,00 €","3.687,78 €"
5,30 mag2024,Transazione concarta,AUTOSILO SEMPIONE,,"1,50 €","3.686,28 €"
6,31 mag2024,Transazione concarta,SISTEMA CONGRESSI SRL,,"300,00 €","3.386,28 €"
7,01 giu2024,Pagamento degliinteressi,Your interest payment,"16,51 €",,"3.402,79 €"
8,02 giu2024,Transazione concarta,FARMACIA EUROPA S.R.L.,,"16,55 €","3.386,24 €"
9,03 giu2024,Premio,Your Saveback payment,"15,00 €",,"3.401,24 €"
10,04 giu2024,Transazione concarta,ESSO ISELLA RUSSO,,"20,00 €","3.381,24 €"
11,04 giu2024,Transazione concarta,TRENORD SRL,,"116,00 €","3.265,24 €"
12,04 giu2024,Commercio,Esecuzione Trade Acquisto diretto Acquisto IE0...,,"15,00 €","3.250,24 €"
13,06 giu2024,Transazione concarta,AU VIEUX STRASBOURG,,"15,50 €","3.234,74 €"
14,08 giu2024,Transazione concarta,SUSHI HIRO SAS DI XIANG,,"63,80 €","3.170,94 €"
15,10 giu2024,Transazione concarta,TIGROS 2,,"86,56 €","3.084,38 €"
16,12 giu2024,Transazione concarta,PRAMAGRILL,,"11,90 €","2.916,75 €"
17,13 giu2024,Transazione concarta,DALLMAYR DIST,,"0,50 €","2.916,25 €"
18,14 giu2024,Transazione concarta,AUTOST TRAFORO FREJUS/TRA,,"68,60 €","2.847,65 €"
19,14 giu2024,Transazione concarta,BRASSERIENEPTUNE,,"11,10 €","2.836,55 €"
20,15 giu2024,Transazione concarta,DELIVEROO,,"34,98 €","2.801,57 €"
21,15 giu2024,Transazione concarta,DELIVEROO,,"17,49 €","2.784,08 €"
22,15 giu2024,Transazione concarta,SEMITAG,,"2,00 €","2.782,08 €"
23,16 giu2024,Transazione concarta,Taxis on Booking,,"29,06 €","2.753,02 €"
24,17 giu2024,Transazione concarta,AUTOGRILL 0683,,"13,00 €","2.740,02 €"
25,17 giu2024,Transazione concarta,ENI11427,,"66,18 €","2.673,84 €"
26,17 giu2024,Commercio,Savings plan execution IE00B6R52259 iShares V ...,,"100,00 €","2.573,84 €"
27,19 giu2024,Transazione concarta,TIGROS 6,,"4,91 €","2.568,93 €"
28,20 giu2024,Transazione concarta,Trainline SAS,,"38,00 €","2.530,93 €"
29,20 giu2024,Transazione concarta,Trainline SAS,,"38,00 €","2.492,93 €"
30,20 giu2024,Transazione concarta,GRUPPO NEGOZI SRL,,"1,20 €","2.491,73 €"
31,21 giu2024,Transazione concarta,GTT,,"2,00 €","2.489,73 €"
32,28 giu2024,Transazione concarta,WWW.IKEA.COM,,"330,90 €","2.071,91 €"
33,29 giu2024,Transazione concarta,MOLINO DORINO PARK,,"2,50 €","2.069,41 €"
34,29 giu2024,Transazione concarta,MISER DIREZ. USCITA -,,"3,40 €","2.066,01 €"
35,29 giu2024,Transazione concarta,GAVIO - SATAP A4,,"8,20 €","2.057,81 €"
36,29 giu2024,Transazione concarta,ASPIT DIREZ.ENTRATA -,,"1,60 €","2.056,21 €"
37,29 giu2024,Transazione concarta,ASPIT DIREZ. USCITA -,,"1,60 €","2.054,61 €"
38,29 giu2024,Transazione concarta,AU VIEUX STRASBOURG,,"18,50 €","2.036,11 €"
39,30 giu2024,Transazione concarta,ALIEXPRESS.COM,,"45,16 €","1.990,95 €"
40,30 giu2024,Transazione concarta,SUMUP *DAVERIO,,"37,00 €","1.953,95 €"
41,11 gen2024,Trasferimento,Customer 566b8754-c566-4896-b90c-dff84451358f ...,"50,00 €",,"50,00 €"
42,01 feb2024,Pagamento degliinteressi,Your interest payment,"0,11 €",,"50,11 €"
43,02 feb2024,Trasferimento,Deposito accettato: IT89Q0302501601TB888022282...,"5.000,00 €",,"5.050,11 €"
44,01 mar2024,Pagamento degliinteressi,Your interest payment,"15,72 €",,"5.065,83 €"
45,01 apr2024,Pagamento degliinteressi,Your interest payment,"17,45 €",,"5.083,28 €"
46,22 apr2024,Commissione,Trade Republic Card,,"5,00 €","5.078,28 €"
47,01 mag2024,Pagamento degliinteressi,Your interest payment,"16,94 €",,"5.095,22 €"
48,10 mag2024,Transazione concarta,CIACCARO,,"7,90 €","5.087,32 €"
49,20 mag2024,Transazione concarta,LA CAVEJA,,"12,00 €","5.075,32 €"
50,20 mag2024,Transazione concarta,NUOVA SIDAP SRL 9157 M,,"59,01 €","5.016,31 €"
51,21 mag2024,Transazione concarta,SOCRATE CAFE,,"20,50 €","4.995,81 €"
52,21 mag2024,Transazione concarta,PAOLO & VALE S.R.L.S.,,"104,80 €","4.891,01 €"
53,21 mag2024,Transazione concarta,AUTOGRILL 0736,,"9,40 €","4.881,61 €"
54,22 mag2024,Transazione concarta,PV ENI - 03970,,"66,29 €","4.815,32 €"
55,24 mag2024,Transazione concarta,TIGROS 17,,"5,31 €","4.810,01 €"
56,25 mag2024,Transazione concarta,KEYNOTE CONFERENCE SER,,"485,00 €","4.325,01 €"

# Export data to CSV

In [269]:
result.to_csv("output.csv", index=False)